* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1b262c;
  margin: 15px;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #bbe1fa;
}

title {
  color: #bbe1fa;
}

h1 {
  text-align: center;
  background-color: #0f4c75;
  font-style: oblique;
  font-size: 50px;
}

topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #3282b8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #bbe1fa;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3282b8;
  color: white;
}

a {
  color: #bbe1fa;
  text-decoration: none;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #3282b8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #bbe1fa;
}
